@font-face {
	font-family: 'Aeonik Fono Regular';
	src: url('/fonts/AeonikFono-Regular.woff2') format('woff2'),
			 url('/fonts/AeonikFono-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

body, html, * {
	font-family: 'Aeonik Fono Regular', 'Aeonik Fono Regular Placeholder', sans-serif !important;
}
